* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background: rgb(240, 169, 169);
  color: black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  padding: 20px 10%;
  background: rgb(0, 0, 0);
  box-shadow: rgb(0 0 0 /2%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
}

.navbar {
  display: flex;
  gap: 50px;
}

.navbar a {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  background: linear-gradient(100deg, #ff83cd, #b157d5, #8bbae9);
  -webkit-background-clip: text;
  background-clip: text;
  color: rgb(0, 0, 0);
}
input {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 100%;
    background: #171120;
    right: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
  }

  .navbar a:nth-child(1) {
    margin-top: 50px;
  }

  label {
    width: 40px;
    height: 30px;
    position: relative;
  }

  label div {
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 99px;
    transition: 0.3s;
    transform: scale(1);
  }

  label div:nth-child(1) {
    top: 0;
  }

  label div:nth-child(2) {
    top: 50%;
  }

  label div:nth-child(3) {
    top: 100%;
  }

  input:checked + .header .navbar {
    height: 100vh;
  }

  input:checked + .header label div:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }

  input:checked + .header label div:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }

  input:checked + .header label div:nth-child(2) {
    transform: scale(0);
    opacity: 0;
  }
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.home img {
  margin-left: auto;
}
.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 55px;
  font-weight: 700;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(100deg, #ff83cd, #b157d5, #8bbae9);
  -webkit-background-clip: text;
  background-clip: text;
  color: rgb(0, 0, 0);
}

.home-content p {
  font-size: 14px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.ctn {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ctn .ctn-2 {
  margin-top: 220px;
}

.ctn img {
  height: 600px;
  margin-right: 350px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100;
  background: white;
  border: 2px solid;
  background-image: white;
  border-radius: 50px;
  font-size: 19px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: rgb(12, 247, 12);
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: rgb(0, 0, 0);
}

.btn-box a:nth-child(2):hover {
  color: rgb(2, 253, 77);
}

.btn-box a:nth-child(2)::before {
  background: rgb(0, 0, 0);
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #171120;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid;
  background-image: linear-gradient(right, #ff83cd, #b157d5, #8bbae9);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: rgb(0, 0, 0);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(100deg, #ff83cd, #b157d5, #8bbae9);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 9%;
}

.timeline .timeline-row {
  display: flex;
  column-gap: 64px;
  flex-wrap: wrap;
}

.timeline-row .timeline-column {
  flex: 1 1 320px;
}

.timeline-column .title {
  position: relative;
  display: inline-block;
  font-size: 28px;
  margin: 32px 0 16px 30px;
}

.timeline-column .timeline-box {
  position: relative;
  border-left: 2px solid white;
}

.timeline-box .timeline-content {
  position: relative;
  padding-left: 27px;
}

.timeline-box .timeline-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10.5px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.timeline-content .content {
  padding: 24px;
  border: 2px solid white;
  border-radius: 8px;
  margin-bottom: 32px;
}

.timeline-content .content .year {
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.timeline-content .content .year i {
  margin-right: 8px;
}

.timeline-content .content h3 {
  font-size: 17px;
  margin: 8px 0;
}

.timeline-content .content p {
  font-size: 14px;
}

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 105%;
  height: 100%;
  background: #171120;
  animation: show-right 1s ease forwards;
  animation-delay: calc(0.5s * var(--i));
}

@keyframes show-right {
  100% {
    width: 0;
  }
}
